.back-button {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    background-color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    margin: 10rem;
    z-index: 1000;
    transition: all .2s;

    @media only screen and (max-width: 62.5em) {
        margin-right: 5rem;
    }

    img {
        width: 70%;
        height: 80%;
        display: block;
        margin: 0 auto;
        margin-top: .8rem;

    }

    &:hover {
        cursor: pointer;
        transform: translateY(-3px);
        box-shadow: 0 3px 2rem rgba(black, .4);
    }

    &:active {
        transform: translateY(0);
        box-shadow: none;
    }
}