.art-desc {
    font-family: var(--font-primary);
    font-size: var(--normal-font-size);
    line-height: 1.4;
    text-align: center;
    width: 85%;
    margin: 5rem auto;
    margin-top: 0;

    &__title {
        font-size: var(--heading-sub);
        font-weight: 400;
        text-transform: uppercase;
        color: var(--colour-secondary-text);
        letter-spacing: .5rem;
    }

    & > * {
        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }
}