.header-img {

    &__container {
        background-color: #fff;
        width: 100%;
        min-height: 35rem;

        display: flex;
        position: relative;

        @media only screen and (max-width: 31.25em) {
            flex-direction: column;
        }
    }
    
    &__image {
        background-image: url(../../assets/img/logo-black.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-position-x: -2rem;
        clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
        flex: .8;

        @media only screen and (max-width: 31.25em) {
            clip-path: none;
            height: 25rem;
        }
    }

    &__text {
        flex: 1;

        &--content {
            font-family: var(--font-primary);
            font-size: var(--normal-font-size);
            line-height: var(--line-height-primary);
            margin: 13rem 1rem;
            margin-right: 5rem;
            margin-bottom: 10rem;

            @media only screen and (max-width: 31.25em) {
                width: 90%;
                text-align: center;
                margin: 5rem auto;
                margin-top: 15rem;
            }

            & p {
                margin-bottom: 1rem;
            }
        }
    }

    &__title {
        font-size: var(--heading-main);
        font-family: var(--font-primary);
        text-transform: uppercase;
        color: var(--colour-accent-red);
        letter-spacing: .7rem;
        font-weight: 700;
        display: block;
        position: absolute;
        right: 45%;
        margin-top: 8rem;

        @media only screen and (max-width: 31.25em) {
            margin: 0 auto;
            margin-top: -15rem;
            position: initial;
        }
    }
}