.artwork {
    position: relative;
    margin: 10rem auto;
    max-width: 70%;

    &-card {

        &--title {
            font-family: var(--font-primary);
            font-size: var(--heading-main);
            color: var(--colour-accent-red);
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: .5rem;
            position: absolute;
            top: -1.7rem;
            right: 0;
            z-index: 1;
            margin-right: 4rem;
        }
    
        &__image {
            width: 100%;
            display: block;
            padding: 1rem;
            background-color: #fff;
        }
    
        &__description {
            background-color: #fff;
            padding: 0 1rem;
            padding-bottom: 1rem;
            font-family: var(--font-primary);
            width: 100%;
            height: 100%;
            display: block;
    
            & > * {
                &:not(:last-child) {
                    margin-bottom: .5rem;
                }
            }
    
            &--title {
                font-size: var(--heading-sub-2);
                font-weight: 700;
            }
    
            &--subtitle {
                font-size: var(--small-font-size);
                font-weight: 400;
            }
    
            &--content {
                font-size: var(--normal-font-size);
                line-height: 1.4;
            }
        }
    }
}

