.nav__logo {
    width: 10rem;
    display: block;
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 5rem;

    @media only screen and (max-width: 62.5em) {
        width: 5rem;
        margin: 1rem auto;
    }
}