.flex-images {
    margin: 15rem 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

    & img {
        max-width: 50%;
        max-height: 100%;
        padding: 1rem;
    }
}