.contact__description {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-gap: 1.5rem;
    padding: 1.5rem;
    row-gap: 10rem;
    margin-bottom: 10rem;
}

.contact {

    a:visited,
    a:link {
        color: var(--colour-accent-red);
        text-decoration: none;
    }

    &__info {
        margin-top: 10rem;

        @media only screen and (max-width: 62.5em) {
            margin-top: 5rem;
        }
    }
}