.layout {

    &__container {
        max-width: 125rem;
        min-height: 70vh;
        margin: 10rem auto;
        box-shadow: 0 3px 10rem rgba(0,0,0,.7);

        display: flex;

        @media only screen and (max-width: 78em) {
            margin: 0 auto;
        }

        @media only screen and (max-width: 62.5em) {
            flex-direction: column;
        }
    }

    &__content {
        background-color: var(--colour-light-primary);

        flex: 1;
    }
}