.commisions__description {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-gap: 1.5rem;
    padding: 1.5rem;
    row-gap: 10rem;
    margin-bottom: 10rem;
}

.commisions {

    a:visited,
    a:link {
        color: var(--colour-accent-red);
        text-decoration: none;
    }
}