.heading-1 {
    font-family: var(--font-primary);
    font-size: var(--heading-secondary-2);
    font-weight: 100;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    letter-spacing: 1rem;
}