/* Colour Variables */
:root {
    --colour-primary: #9E9E9E;
    --colour-light-primary: #F5F5F5;
    --colour-dark-primary-1: #616161;
    --colour-dark-primary-2: #2D2D2D;

    --colour-accent-red: #FF2323;

    --colour-primary-text: #212121;
    --colour-secondary-text: #757575;
}

/* Font Variables */
:root {
    --heading-main: 4rem;
    --heading-secondary: 3rem;
    --heading-secondary-2: 3.5rem;
    --heading-sub: 1.8rem;
    --heading-sub-2: 2rem;
    --normal-font-size: 1.6rem;
    --small-font-size: 1.2rem;

    --font-primary: 'Roboto', sans-serif;

    --line-height-primary: 1.6;
}

/* Utility classes */
.margin-bottom-lg { margin-bottom: 15rem; }
.margin-top-lg { margin-top: 15rem; }

/* Global styles reset */
* {
    margin: 0;
    padding: 0;
}

::selection {
    background-color: var(--colour-accent-red);
    color: var(--colour-light-primary);
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    /* 1 rem = 10px when default font-size is 16px */

    // Extra large screens
    @media only screen and (max-width: 192em) {
        font-size: 81.25%;
    }

    // Large screens
    @media only screen and (max-width: 136em) {
        font-size: 62.5%;
    }
    
    // Medium screens
    @media only screen and (max-width: 78em) {
        font-size: 50%;
    }

    // Small screens
    @media only screen and (max-width: 37.5em) {
        font-size: 45%;
    }
}

body {
    background-color: var(--colour-dark-primary-2);
    color: var(--colour-primary-text);
}